@CHARSET "ISO-8859-1";

/****************
 * STYLE GLOBAL *
 ****************/
 
* {
	color: #3d3d3d;
	font-family: segoe ui;	
}
body {
	margin-top : 10px;
    margin-left : 20px;
    margin-right : 20px;
}

/**********
 * HEADER *
 **********/
header {
	margin-bottom: 20px;
	border : solid 1px;
}


/********
 * MENU *
 ********/

nav {
	
}

nav ul {
    list-style:none;
    height: 30px;
}

nav ul  a {
	float: left;
	background-color: #333333;
    color:white;
    width: 200px;
    text-align: center;
    text-decoration:none;
    border-left:solid 5px white;
    border-right:solid 5px white;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    display: block;
}


nav ul  a:hover {
	background-color: #336666;
	color: white;
}


/******************************
 * MISE EN FORME TEXTE GLOBAL *
 ******************************/
h1{
	text-align: center;
}

h2{
	font-size : 0.8em;
	text-align: center;
}

/********************************
 * MISE EN FORME BOUTONS *
 ********************************/
button{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);	
    background: rgb(105, 105, 105); /* this is dark gray */
}
.etatQuestionRepondue {
    background: rgb(28, 184, 65); /* this is a green */
}
.etatQuestionPassee {
    background: rgb(202, 60, 60); /* this is a red */
 }
.etatQuestionMarquee {
    background: rgb(223, 117, 20); /* this is an orange */
}

/***********
* SECTIONS *
************/

section {
	min-height: 150px;
	/*border : solid 1px;*/
	margin-bottom : 10px;
}



/********************************
 * MISE EN FORME TEXTE SECTIONS *
 ********************************/
section p{
	padding: 5px;
}


/*********************
*FORMULAIRE SECTIONS *
**********************/
form label {
	width:150px;
	display : inline-block;
	font-size : 0.8em;
	margin:1px;
}

form input[type=button] {
	background-color: white;
	margin-left:153px;
}

form input {
	border-style: solid;
	display : inline-block;
	margin:1px;
}

textarea{ 
	resize:none;
}

#enonceQuestionSelectionnee {
	font-size : 0.8em;
}

/************
* ARTICLES  *
*************/
article { 
	/*border : 1px red solid ;*/
 	margin: 1em;
}
 
fieldset {
	border-radius:1em;
}
 
#articleThemeChoix {
	
}
#fieldsetSelectionTheme {
	display:inline-block;
	vertical-align: top;
	width : 50%;
}
#fieldsetUpdateTheme {
	display : inline-block;
	vertical-align: top;
	width : 40%;
}


#articleThemeQuestion {
 	display : inline-block;
 	vertical-align: top;
 	width : 50%;
}

#blocImage {
	display : inline-block;
	vertical-align: top;
 	width : 105px;
}

#blocEnonce {
	display : inline-block;
	vertical-align: top;
 	width : 50%;
}

#enonce {
	font-size : 1em;
	rezise : none;
	rows : 40;
	cols : 4;
	wrap : off;
}

#articleThemeReponse{
 	display : inline-block;
 	vertical-align: top;
 	width : 40%
}
 
#articleEcranTest{
 	display : inline-block;
 	vertical-align: top;
 	width : 60%
}

#articleEtatTest{
 	display : inline-block;
 	vertical-align: top;
 	width : 30%
}

/********
* TABLE *
********/
table {
	
}

#enonceQuestionSelectionnee {
	width :500px;
}

.enonce {
	/*border: 1px solid black;*/
	width : 475px;	
}

.labelEnonce {
	width : 900px;	
}

.labelEnonceQuestion {
	width :475px;
}

td {
	//border : 1px solid red;
	font-size:12pt;
}


/**********
* FOOTER  *
***********/
footer {
	clear : both;
	border-top : dashed 1px;
	text-align: center;
	font-size: xx-small;
}

footer a {
	text-decoration: none;
}
