<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Projet-QCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Pool de connection</description>
    <res-ref-name>jdbc/TP_QCM</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>GestionThemes</display-name>
    <servlet-name>GestionThemes</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.GestionThemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionThemes</servlet-name>
    <url-pattern>/GestionThemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestConnexion</display-name>
    <servlet-name>TestConnexion</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.TestConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestConnexion</servlet-name>
    <url-pattern>/TestConnexion</url-pattern>
   </servlet-mapping>
   <servlet>
    <display-name>AuthentificationCandidat</display-name>
    <servlet-name>AuthentificationCandidat</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.AuthentificationCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationCandidat</servlet-name>
    <url-pattern>/AuthentificationCandidat</url-pattern>
  </servlet-mapping>
</web-app>